body {
	background-color: yellow;
}

button {
	width: 80%;
	height: 40px;
	margin: 0 10%;
}

button.answerchoice {
	display: none;
}

button:hover {
	background-color: blue;
	color: white;
}

.answers div {
	margin: 0 auto;
}

img {
	height: 100%;
	width: 100%;
}

h1, h2, h3, .question {
	text-align: center;
}